.container-monotributo-imagen {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: inline-block;
        text-align: center;
        align-items: center;
            img {
                height: 40vw;
                width: 100%;
                object-fit: cover;
            }
            h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 30%;
                left: 5%;
                font-family: 'Poppins', sans-serif;
                font-size: 3.5vw;
                color: rgb(255, 255, 255);
                text-shadow: 12px 2px 16px rgba(222,215,216,0.52);
                background: linear-gradient(to bottom right ,#050505, #3f3f3f);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
    }
    .container-titulo-monotributo {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 7vw;
        flex-direction: column;
        align-items: center;
           h2 {
                font-size: 2.8vw;
                padding-bottom: 2vw;
           }
    }
    .container-titulo-monotributo-dos {
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: center;
        margin-top: 4vw;
        flex-direction: column;
        align-items: center;
            h3 {
                font-size: 1.3vw;
                text-align: center;
                border-bottom: 2px solid #ffffff;
                padding-bottom: 2vw;
            }
    }
.seccion-monotributo-uno {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vw;
    margin-top: 12vw;
       .container-icon-uno {
           display: flex;
           align-items: center;
           flex-direction: column;
           width: 40vw;
                  img {
                    width: 5vw;
                    height: 5vw;
                  }
                  h3 {
                      color: #ffffff;
                      font-size: 1.2vw;
                      margin-top: 1.5vw;
                  }
                  p {
                      color: #ffffff;
                      font-size: .8vw;
                      text-align: center;
                      margin-top: .5vw;
                      width: 25vw;
                  }
            }
            .container-icon-dos {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 40vw;
                  img {
                    width: 5vw;
                    height: 5vw;
                  }
                  h3 {
                      color: #ffffff;
                      font-size: 1.2vw;
                      margin-top: 1.5vw;
                  }
                  p {
                      color: #ffffff;
                      font-size: .8vw;
                      text-align: center;
                      margin-top: .5vw;
                      width: 25vw;
                  }
            }
            .container-icon-tres {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 40vw;
                position: relative;
                bottom: 2vw;
                       img {
                         width: 8vw;
                         height: 8vw;
                       }
                       h3 {
                           color: #ffffff;
                           font-size: 1.2vw;
                       }
                       p {
                           color: #ffffff;
                           font-size: .8vw;
                           text-align: center;
                           margin-top: 6px;
                           width: 25vw;
                       }
            }
       }
.seccion-monotributo-dos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vw;
       .container-icon-cuatro {
        display: flex;
           align-items: center;
           flex-direction: column;
           width: 40vw;
                  img {
                    width: 6vw;
                    height: 6vw;
                  }
                  h3 {
                      color: #ffffff;
                      font-size: 1.2vw;
                      margin-top: 1.5vw;
                  }
                  p {
                      color: #ffffff;
                      font-size: .8vw;
                      text-align: center;
                      margin-top: .5vw;
                      width: 26vw;
                  }
        }
        .container-icon-cinco {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 40vw;
                   img {
                     width: 6w;
                     height: 6vw;
                   }
                   h3 {
                       color: #ffffff;
                       font-size: 1.2vw;
                       margin-top: 1.5vw;
                   }
                   p {
                       color: #ffffff;
                       font-size: .8vw;
                       text-align: center;
                       margin-top: .5vw;
                       width: 26vw;
                   }
        }
    }
    .container-icon-seis {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 40vw;
        padding-top: .7vw;
               img {
                 width: 5vw;
                 height: 5vw;
               }
               h3 {
                   color: #ffffff;
                   font-size: 1.2vw;
                   margin-top: 1.5vw;
               }
               p {
                   color: #ffffff;
                   font-size: .8vw;
                   text-align: center;
                   margin-top: .5vw;
                   width: 25vw;
               }
    }
